


            <section class="full-h" id="booking">

            <h2>Reservierung</h2>

              <div class="centralizer flexible">

            {% include "/forms/booking.html.twig" %}

                  <div id="booking-info">
                    <h3>Verfügbarkeit für den folgenden Monat:</h3>
                    <div id="calendar"></div>
                    <div id="map"><img src="/build/media/image/photos/zoning.jpg"/></div>
                    
                                      
                  </div>


              </div>



            </section>

