            <section class="full-h" id="aboutus" >

                        

                        <div class="flexible full">

                        <div id="recruiter-background" style="background-image: url('{{section.image}}');" class="image hiddenformobile"></div>

                        <div class="content">

                        <div class="padder">

                        {{ section.content|raw }}

                        </div>

                        
                        </div>

                        
            </section>

