                    
                    
                    <div class="sub-menu">


                                <ul class="submenu-list">


                                <a href="{{ path('cuid_document', { 'pagename': 'register' }) }}" >
                                            
                                            <li>
                
                                            <sapn class="submenuname"><span class="selectmenu material-symbols-outlined" >arrow_right</span></span>S'enregistrer</span>

                                            </li>
                                    </a>


                                    
                                <a href="{{ path('cuid_document', { 'pagename': 'checking' }) }}" >
                                            
                                            <li>
                
                                            <sapn class="submenuname"><span class="selectmenu material-symbols-outlined" >arrow_right</span></span>Vérifier un acte consulaire</span>

                                            </li>
                                    </a>
                                    
                                <a href="{{ path('cuid_customer_area_new_notarize') }}" >
                                            
                                            <li>
                
                                            <sapn class="submenuname"><span class="selectmenu material-symbols-outlined" >arrow_right</span></span>Demander un acte consulaire</span>

                                            </li>
                                    </a>


                                </ul>


                    </div>
            