footer {
    background-color: #293640;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    text-align: center;

    p{

        padding-top:50px;
    }

    
    a{

        color:white;
        text-decoration: none;
    }

}


