header {
    width: 150px;
    padding: 10px;
    height: 1000px;
    color: black;
    position: fixed;
    background-image: linear-gradient(90deg, #f588d6, #bd489b);



    a{

        color:white;
        text-decoration: none;
    }


#menu li {
    margin-top: 35px;
    padding-left: 10px;
}

#aienova-logo{

    height:50px;
}


div#bottom-header {

    padding-top: 25px;
    text-align: center;

    span{

        font-size: 13px;

    }
}

}