
       {% extends "/backoffice/cuid/base.html.twig" %}
    

        {% block content %}

            <section id="fonctionnal">
                  <div id="main-title">
                    <div class="flexible">
                       
                        <h1>A propos de Cuid</h1>
                    </div>

                    <div id="square-menu" class="flexible">

                                <div class="square">

                                <h2>Cuid version Bêta</h2>

                                <p>Conçu par Aienova , Cuid est un CMS expérimentale composé d'un CRM qui s'adapte à votre secteur d'activité </p>
                                



                                
                                </div>


                  </div>
            </section>


        {% endblock %}
