
       {% extends "/backoffice/cuid/base.html.twig" %}
    

        {% block content %}

            <section id="fonctionnal">
                  <div id="main-title">
                    <div class="flexible">
                       
                        <h1>Créer une nouveau formulaire</h1>
                    </div>

                    <div id="square-menu">

                                <div class="square">

                                                                
                        <div class="flexible">
                                <a href="./forms">
                                <div class="optionbutton">
                                <span class="material-symbols-outlined">
                                list
                                </span>Consulter la liste de vos formulaires</div>
                                </a>

                            </div>

                                <div class="flexible">
                                    <div id="form-creator">
                                    <form  method="POST" enctype="multipart/form-data">

                                    <h2>Informations générales de votre formulaire</h2>


                                    <input type="hidden" name="addform_data" value="1" />
                                    <input type="hidden" name="author" value="{{user.firstname}} {{user.surname}}" />
                                            
                                            <p><h3>Titre de votre formulaire</h3>
                                            <input type="text" name="title" />
                                            </p>
                                            
                                            
                                            <p>
                                            <h3>Service lié à votre formulaire :</h3>
                                            <select name="notarize">
                                            {% for notarizeType in notarizetypes %}
                                                <option value="{{notarizeType.id}}">{{notarizeType.frName}}</otion>
                                            {% endfor %}
                                            </select>
                                            </p>

                                            <p>
                                            <h3>Description de votre formulaire:</h3>
                                            <textarea name="description"></textarea>
                                            </p>



                                       {#     {% include "backoffice/cuid/admin/blocks/plugins/text-editor/plugin.html.twig" %}  #}



                                    <input type="submit"  value="Créer le formulaire" />
                                    </form>


                                    </div>

                                    <div id="form-render">
                                    <h2>Mode pré-rendu :</h2>
                                    <h4>Pré-rendu indisponible, veuillez d'abord créer votre formulaire </h4>
                                    </div>

                     </div>
                  </div>
            </div>
            </section>


        {% endblock %}
