
       {% extends "/backoffice/cuid/base.html.twig" %}
    

        {% block content %}

            <section id="fonctionnal">
                  <div id="main-title">
                    <div class="flexible">
                       
                        <h1>Créer une nouvelle galerie</h1>
                    </div>

                    <div id="square-menu" class="flexible">

                                <div class="square">

                            <div class="flexible">
                                <a href="./galleries">
                                <div class="optionbutton">
                                <span class="material-symbols-outlined">
                                list
                                </span>Consulter la liste de vos galeries</div>
                                </a>

                            </div>


                                    <form id="page-editor" method="POST" enctype="multipart/form-data">


                                    <input type="hidden" name="addgallery_data" value="1" />
                                    <input type="hidden" name="author" value="{{user.firstname}} {{user.surname}}" />
                                            <p>
                                            <h2>Titre de votre gallery :</h2>
                                            <input type="text" name="title" />
                                            </p>

                                            <div id="images-selector">
                                            <h2>Les images de votre galleries :</h2>

                                            {% include "backoffice/cuid/admin/blocks/plugins/image-multi-selector/plugin.html.twig" %}


                                            
                                            </div>



                                   {#
                                    
                                    <h3>Déposer vos images ou Vidéos ici</h3>

                                    <input id="upload-zone" type="file" name="newmedia[]" multiple>
                                    
                                        #}

                                    <input type="submit"  value="Ajouter une page" />
                                    </form>

                     </div>
                  </div>
            </section>


        {% endblock %}
