      {% extends "/backoffice/cuid/base.html.twig" %}
    

        {% block content %}

            <section id="fonctionnal">
                  <div id="main-title">
                    <div class="flexible">
                       
                        <h1>Modifer votre page</h1>
                    </div>

                    <div id="square-menu" class="flexible">

                                <div class="square">


                        <div class="flexible">
                                <a href="../pages">
                                <div class="optionbutton">
                                <span class="material-symbols-outlined">
                                list
                                </span>Consulter la liste de vos pages</div>
                                </a>

                                <a href="../addpage">
                                <div class="optionbutton">
                                <span class="material-symbols-outlined">
                                add_circle
                                </span>Ajouter une nouvelle page</div>
                                </a>
                            </div>





                                    <form id="page-editor" method="POST" enctype="multipart/form-data">


                                    <input type="hidden" name="page_data" value="1" />
                                    <input type="hidden" name="author" value="{{user.firstname}} {{user.surname}}" />
                                            <p>
                                            <h2>Titre de votre page :</h2>
                                            <input type="text" value="{{page.title}}" name="title" />
                                            </p>

                                                                                        <p>
                                            <h2>Description de votre page :</h2>
                                            <textarea name="description" >{{page.description}}</textarea>
                                            </p>

                                            <p>
                                            <h2>Contenu de votre page :</h2>

                                            {% include "backoffice/cuid/admin/blocks/plugins/text-editor/plugin.html.twig" %}

                                            </p>

                                   {#
                                    
                                    <h3>Déposer vos images ou Vidéos ici</h3>

                                    <input id="upload-zone" type="file" name="newmedia[]" multiple>
                                    
                                        #}

                                    <input type="submit"  value="Modifier cette page" />
                                    </form>

                     </div>
                  </div>
            </section>


        {% endblock %}
