
       {% extends "/backoffice/cuid/base.html.twig" %}
    

        {% block content %}

            <section id="fonctionnal">
                  <div id="main-title">
                    <div class="flexible">
                       
                        <h1>Gérer vos évènements</h1>
                    </div>

                    <div id="square-menu" class="flexible">

                                <div class="square">


                                <div class="flexible">

                                                                <a href="./addevent">
                                <div class="optionbutton">
                                <span class="material-symbols-outlined">
                                add_circle
                                </span>Ajouter un évènement</div>
                                </a>

                                
                                </div>    

                        {#        <a href="./addbooking">
                                <div class="optionbutton">
                                <span class="material-symbols-outlined">
                                add_circle
                                </span>Ajouter une page</div>
                                </a>

                                #}

                                 {% include "backoffice/cuid/admin/blocks/tables/EventsTable.html.twig" %}

                                
                                </div>


                  </div>
            </section>


        {% endblock %}
