
       {% extends "/backoffice/cuid/base.html.twig" %}
    

        {% block content %}

            <section id="fonctionnal">
                  <div id="main-title">
                    <div class="flexible">
                       
                        <h1>Aussehen</h1>
                    </div>

                    <div id="square-menu" class="flexible">

                                <div class="square">
                                
                                </div>


                  </div>
            </section>


        {% endblock %}
