
       {% extends "/backoffice/cuid/base.html.twig" %}
    

        {% block content %}

            <section id="fonctionnal">
                  <div id="main-title">
                    <div class="flexible">
                       
                        <h1>Gérer vos types de visa</h1>
                    </div>

                    <div id="square-menu" class="flexible">

                                <div class="square">
                                
                                <div class="flexible">


                                <a href="./addvisa">
                                <div class="optionbutton">
                                <span class="material-symbols-outlined">
                                add_circle
                                </span>Ajouter un type de visa</div>
                                </a>

                                 {% include "backoffice/cuid/admin/blocks/plugins/filter/plugin.html.twig" %}


                                </div>

                                 {% include "backoffice/cuid/admin/blocks/tables/VisaTypesTable.html.twig" %}

                                
                                </div>


                  </div>
            </section>


        {% endblock %}
