
<h1>Êtes-vous Bêta Testeur ?</h1>

<p>La plateforme de Oneted est pour l'instant en face de Bêta Test, nous recherchons des entreprises testeurs de différents corps de métiers afin d'obtenir un résultat final à la auteur des demandes des utilisateurs. Pour devenir Bêta Testeur, vous aurez besoin d'un code Bêta-test de la part de l'administrateur de la plateforme M.Eudes KONDA. Si vous n'avez pas de code Bêta-testeur, veuillez le contacter par email : <a href="mailto:eudes.konda@aienova.com">eudes.konda@aienova.com</a> ou par téléphone au <a href="tel:0666336080">06 66 33 60 80</a> </p>

<label>
Votre code de Bêta Testeur
</label>
<input type="password" name="beta-code" placeholder="(code à 10 caractères) ex : zwhyd22yeq" />