 <h3>Uploader un seul document</h3>


         <fieldset>
            <legend>Votre {{document}} </legend>
            {{ form_start(uniform) }}

            <h3>Déposer votre fichier dans la zone colorée ci-dessous à droite :</h3>
            {{ form_widget(uniform) }}

            

         </fieldest>