       
       
        <ul id="worker-advices">


            <li class="advice" id="advice-1">
                <div class="worker-advice-identity">
                    <img src="/build/media/image/icons/avatar.png" />
                    <div class="info">
                    <span class="worker-name">Eudes KONDA</span><br>
                    <span class="worker-job">Développeur front</span><br>
                    <div class="worker-rate">

                            <span class="material-icons">star</span>
                            <span class="material-icons">star</span>
                            <span class="material-icons">star</span>
                             <span class="material-icons">star_half</span>
                             <span class="material-icons">star_outline</span>
                    
                    </div>
                    </div>
                </div>

                <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu lorem imperdiet, malesuada mi vitae, rutrum velit. Fusce a sapien nisi. Praesent quis molestie ex. Mauris blandit finibus nisl in venenatis. Curabitur porttitor nulla eu sodales tincidunt. Nulla a mi condimentum, aliquet lectus eget, fermentum sem. Donec volutpat enim at lobortis eleifend. Maecenas eros justo, consectetur nec massa sed, auctor euismod quam. 
Mauris quis fringilla diam</p>
                <span class="material-symbols-outlined">thumb_up</span>(15)
                <span class="material-symbols-outlined">share</span>
                <span class="material-symbols-outlined">chat</span>(25) v Lire les réponse
                    <ul class="responds">
                        <li>
                            <h4>jean Mercier - Recruteur chez KCorp</h4>
                                <p> Merci beaucoup </p>
                        </li>
                    </ul>


            </li>
                
                


        </ul>