

<h2>Paramètre</h2>


<form>
    <p>
        <label>Langue :</label>
        <select>
            <option>Français</option>
            <option>English</option>
            <option>Deutsch</option>
            <option>Español</option>
            <option>Italiano</option>
            <option>Português</option>
        </select>
   
    </p>

        <p>
        <label>Mode nuit :</label>
        <select>
            <option>Oui</option>
            <option>Non</option>
        </select>
   
    </p>
</form>



<form>
    {# En cas de connexion : #}
    <p>
        <label>Login:</label>
        <input type="text"/>
    </p>

        <p>
        <label>Mot de passe:</label>
        <input type="passsword"/>
    </p>


              <p>
        <label>Votre statut :</label>
        <select>
            <option>Disponible</option>
            <option>Indisponible</option>
        </select>
   
    </p>
</form>