
                            <div id="card" class="flexible">


                                   <div id="searchbar" class="flexible">


                

                                          <form id="searchinput" action="/connexion" class="flexible">
                                                 <input type="text" placeholder="Geben Sie hier Ihre Suche ein" />
                                                 <input id="searchinput-submit" type="submit" value=""/>

                                          </form>

                                   <a href="{{ path('cuid_customer_area_new_booking') }}"><nav id="good-deal" class="flexible">
                                   <div class="material-symbols-outlined">shoppingmode</div><div class="navName">Reservierung</div>
                                   </nav></a>

                                   <a href="{{ path('cuid_customer_area_home') }}"><nav id="account" class="flexible">
                                   <div class="material-symbols-outlined">account_circle</div><div class="navName">Ihr Konto</div>
                                   </nav></a>


                                   
                                   <a href="{{ path('cuid_customer_area_booking_list') }}"><nav id="cart" class="flexible">
                                   <div class="material-symbols-outlined">calendar_month</div><div class="notification-number"></div><div class="navName">Ihre Reservierungen</div>
                                  <!-- <div class="material-symbols-outlined">shopping_cart</div><div class="navName">Votre panier</div>  -->
                                   </nav></a>


                                   </div>

                                   <!-- <img src="/build/media/image/icons/frais-de-port.png" /> -->



                            </div>
                            