<!DOCTYPE html>
<html class="full-h">
    <head>

                    

                    {% block javascripts %}
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
            {{ encore_entry_link_tags("first-time-styles") }}
            {{ encore_entry_script_tags("first-time-scripts") }}
                    {% endblock %}

                    <title>Se connecter à votre espace dédié</title>
    </head>

    
    <body class="full-h">

       <!-- 

                    DISCONNECT BUTTON   

        <form id="disconnection" method="POST">
                <input type="hidden" name="disconnection" value="1" />
                <input type=  
                "submit" value="Disconnect">


        </form> -->

        <main class="full-h">

            <div id="first-time-form">

                     <h1>Prenez soin de votre bien être avec White Shiny ?</h1>

            </div>

                <footer>

                    <p>Copyright 2023 by <a href="https://aienova.com/">Aienova</a> - Nothing to Something</p>

                </footer>
        </main>



    </body>

    
</html>

      