

       {% extends "base.html.twig" %}


        {% block content %}


        <section id="page-body">

                    {% if sent == 1 %}

                <div id="message-form">
                
                
                {% include "popup.html.twig" %}

                
                
                
                </div>

                          {% endif %}


            <div id="page-content">

                <div id="page-title">
                <h1>Suivi de visa</h1>
                </div>

                                        <div class="flexible mobileblock">
                            
                                <a href="{{ path('cuid_document', { 'pagename': 'visa' }) }}">
                                <div class="navbutton">
                                <span class="material-symbols-outlined">
                                add
                                </span>Demander un visa</div>
                                </a>

                                <a href="{{ path('cuid_customer_area_notarize_list') }}">
                                <div class="navbutton">
                                <span class="material-symbols-outlined">
                                list
                                </span>Liste de vos demandes</div>
                                </a>


                                <a href="../service-en-ligne">
                                <div class="navbutton">
                                <span class="material-symbols-outlined">
                                home
                                </span>Retourner à l'accueil</div>
                                </a>

                            </div>
            
            
                {% include "forms/visa-tracking.html.twig" %}

            {#

            <div class="flexible">

                <div class="content">
                TEXT TEXT
                </div>


                <div class="content">
                <img src="/cuid/media/image/01-03-2024/bureau-212933.jpg"/>
                <img src="/cuid/media/image/01-03-2024/bureau-212933.jpg"/>
                </div>

            </div>

            #}




            </div>

        </section>
        {% endblock %}