
<div id="company-exist"> 
     <div class="flexible">
     
            <img class="logo-company" src="{{company.logo}}">

                 <div class="content">
                    <h3>{{company.name}}</h3>
                    <p>{{company.description}}</p>
                 </div>
        </div>
 </div>

          <script>

         $("#addCompany").addClass("hidden");

         </script>
                             