


                @import url('https://127.0.0.1:8000/cuid/font.scss');


            .primary-color{

                background-color:;
            
            }


            .secondary-color{

                background-color:;
            
            }


            .third-color{

                background-color:;
            
            }


            header{

                background-color:;
            
            }

            h1,h2,h3{

            font-family:;
            font-weight:;

            }

            body{

            background-image:none;
            background-repeat:no-repeat;
            font-family:;
            font-weight:;
            }

            
            footer{

                background-color:;
            
            }
            
            