


                @import url('https://127.0.0.1:8000/cuid/font.scss');


            .primary-color{

                background-color:#ffffff;
            
            }


            .secondary-color{

                background-color:#659c1c;
            
            }


            .third-color{

                background-color:#e2ddc5;
            
            }


            header{

                background-color:#ffffff;
            
            }

            h1,h2,h3{

            font-family:Cormorant;
            font-weight:bolder;

            }

            body{

            background-image:url(https://127.0.0.1:8000/cuid/media/image/05-05-2024/background-default.333d16b8_8432042931.jpg);
            background-repeat:repeat;
            font-family:Alatsi;
            font-weight:lighter;
            }

            
            footer{

                background-color:#20232e;
            
            }
            
            