


                @import url('https://127.0.0.1:8000/cuid/font.scss');


            .primary-color{

                background-color:#ffffff;
            
            }


            .secondary-color{

                background-color:#f3efe3;
            
            }


            .third-color{

                background-color:#e2ddc5;
            
            }


            header{

                background-color:#ffffff;
            
            }

            h1,h2,h3{

            font-family:RecklessNeue;
            font-weight:lighter;

            }

            body{

            background-image:url(/cuid/media/image/09-07-2024/makeup_0438015823.jpg);
            background-repeat:no-repeat;
            font-family:Roboto;
            font-weight:normal;
            background-size: cover;
            }

            
            footer{

                background-color:#0a0a0b;
            
            }
            
            