

       {% extends "base.html.twig" %}


        {% block content %}


        <section id="page-body">

            <div id="page-banner">
            <h1>Offres d'emplois chez Aienova</h1>

            </div>

            <div id="page-content">
            <h2>Rejoignez-nous pour travailler sur nos nombreux projets</h2>
            <p>L'entreprise aienova n'a aucunes offres pour l'instant mais nécéssité pas à vous inscrire à la newsletter pour rester informé de nouvelles offres à venir.</p>
            <div id="search-engine"></div>
            </div>






            

        </section>
        {% endblock %}

             