

       {% extends "base.html.twig" %}


        {% block content %}


        <section id="page-body">

            <div id="page-banner">
            <h1>Nos candidats</h1>

            </div>

            <div id="page-content">
            <h2>Découvrez les profils de candidat via le moteur de recherche</h2>
            <p>Veuillez remplir les informations sur le moteur de recherche</p>
            <div id="search-engine" data-route="search-engine-candidate" data-location="{{city}}" data-title="{{jobTitle}}">
                        <div id="loading"><img class="aienova-loader" src="/build/media/image/icons/loader.gif" /><br><h4>Nothing to Something</h4></div>
            </div> 
            </div>
            

        </section>
        {% endblock %}

             