

       {% extends "base.html.twig" %}


        {% block content %}


        <section id="page-body">

            <div id="page-banner">
            <h1>Condition générale d'utilisiation</h1>

            </div>

            <div id="page-content">
            <h2>Comment utiliser notre plateforme :</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet, mauris et aliquet tincidunt, mi arcu laoreet neque, quis vehicula quam nisi quis sapien. Integer nec nunc vitae nunc lacinia viverra. Donec orci sapien, sagittis in tincidunt at, vulputate non mi. Nullam condimentum vitae mi vitae dictum. Nam eleifend arcu quis mauris tincidunt scelerisque. Aliquam vel est tincidunt, euismod augue feugiat, viverra nunc. Aenean vitae velit erat.

Integer varius quis tortor non laoreet. Etiam vitae purus lorem. Maecenas dignissim diam dictum est interdum lacinia. Quisque pulvinar erat diam, sed fringilla lectus vulputate eget. Etiam ut ornare massa, quis mollis magna. Pellentesque vitae tempus neque, faucibus lacinia massa. Proin vitae dui et felis laoreet malesuada non a sem.

Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse lacinia lectus massa, a placerat ligula sodales in. Aliquam tincidunt, felis vel feugiat consectetur, odio leo mollis velit, non finibus velit ligula sit amet nisl. Donec aliquam orci at dolor sollicitudin vulputate. Aliquam nec volutpat massa. Duis interdum aliquet fermentum. Sed mattis ligula ut odio cursus, et molestie mi lacinia. Etiam varius pulvinar elit, vitae laoreet nibh congue a. Fusce rhoncus convallis ex, a accumsan nibh semper ac.

                </p>

            </div>

        </section>
        {% endblock %}