

       {% extends "base.html.twig" %}


        {% block content %}


        <section id="page-body">

            <div id="page-banner">
            <h1>Foire aux questions</h1>

            </div>

            <div id="page-content">
            <h2>Voici la liste des questions et réponses les plus récurrentes :</h2>
            <p style="color:red">Ajouter question/réponse :</p>
            
            </div>






            

        </section>
        {% endblock %}

             