

       {% extends "base.html.twig" %}


        {% block content %}

            <h1>Job Offer</h1>

            <div id="job-offer" class="form" data-id="{{joboffer.id}}"></div>

        {% endblock %}

             