

       {% extends "base.html.twig" %}


        {% block content %}


        <section id="page-body">

            <div id="page-banner">
            <h1>Estimation de salaire</h1>

            </div>

            <div id="page-content">
            <h2>Estimer le salaire selon le profil et le secteur d'activité :</h2>

                            <p>
                            Note : L'estiamteur de salaire prend en compte les informations sur le marché en fonction des retours des entreprises et des candidats selon les profils.
                            </p>

                            <div id="search-engine" data-route="wage-simulator"></div>

            </div>

        </section>
        {% endblock %}