                                   <div class="sub-menu">


                        <div class="">
                        <h2>Apparences</h2>

                                <ul class="submenu-list">


                                    <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'homepage'}) }}"><li>Page d'accueil</li></a>
                                    <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'menus'}) }}"><li>Menus</li></a>
                             <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'graphics'}) }}"><li>Couleurs et Texte</li></a>
                                        <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'mails'}) }}"><li>Signature & Entête de mail</li></a>

                                         

                                </ul>

                        </div>

                        

                    </div>
            