@font-face {

    
  font-family: nothingtosomething;
  src: url(/assets/fonts/Alatsi-Regular.ttf);

  }


  @font-face {

    
    font-family: "Amethysta";
    src: url(/assets/fonts/Amethysta-Regular.ttf);
  
    }

    @font-face {

    
      font-family: "Montserrat";
      src: url(/assets/fonts/Montserrat-Regular.ttf);
    
      }
  


  @font-face {

    
    font-family: "Alatsi";
    src: url(/assets/fonts/Alatsi-Regular.ttf);
  
    }


    
  @font-face {

    
    font-family: "Digital Desolation Alternate";
    src: url(/assets/fonts/Digital-Desolation-Alternate.ttf);
  
    }


    @font-face {

    
      font-family: "Reenie Beanie";
      src: url(/assets/fonts/ReenieBeanie-Regular.ttf);
    
      }
  


      @font-face {

    
        font-family: "Bebas Neue";
        src: url(/assets/fonts/BebasNeue-Regular.ttf);
      
        }

  
        @font-face {

    
          font-family: "Cormorant";
          src: url(/assets/fonts/CormorantSC-Bold.otf);
        
          }


            
        @font-face {

    
          font-family: "Jacquar";
          src: url(/assets/fonts/Jacquard24Charted-Regular.ttf);
        
          }

          @font-face {

    
            font-family: "Open Sans";
            src: url(/assets/fonts/OpenSans_Condensed-SemiBold.ttf);
          
            }

            @font-face {

    
              font-family: "Andada";
              src: url(/assets/fonts/Andada-Regular.otf);
            
              }


            
    
  

  /* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');