
       {% extends "base.html.twig" %}


        {% block content %}    


                    <div id="page-banner">
            <h1>Vos rendez-vous avec l'ambassade</h1>

            </div>  

     <section id="fonctionnal">



            <div id="page-content">

                                                    <div class="flexible">

                                <a href="../service-en-ligne">
                                <div class="navbutton">
                                <span class="material-symbols-outlined">
                                home
                                </span>Retourner à l'accueil</div>
                                </a>
                            </div>


                <div id="message-form"></div>

                            <div id="booking-panel">

                                    <ul class="menu-inline">
                                        <li id="resa1">En cours</li>
                                        <li id="resa2">Passés</li>
                                        <li id="resa3">Annulés</li>
                                        <a href="{{ path('cuid_customer_area_new_booking') }}"><li id="new-resa">Prendre un nouveau rendez-vous</li></a>
                                    </ul>
                            
                            </div>


                            {% include "customer-area/blocks/tables/currentBookingsTable.html.twig" %}
                            {% include "customer-area/blocks/tables/cancelBookingsTable.html.twig" %}
                            {% include "customer-area/blocks/tables/paidBookingsTable.html.twig" %}
                </div>




                    

                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    </section>


        {% endblock %}