

       {% extends "base.html.twig" %}


        {% block content %}
            <div id="page-banner">
            <h1>Foire aux questions</h1>

            </div>


        <section id="fonctionnal">


            <div id="page-content">
            <h2>Toutes les réponses aux questions les plus fréquentes</h2>


                                        {% include 'faq.html.twig' %}

            </div>







            

        </section>
        {% endblock %}

             